<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic The Gathering: Mana Calculator</title>
    <link href="/static/layout.css" type="text/css" rel="stylesheet">
    <script type="text/javascript">
        function preloader(){
            document.getElementById("loading").style.display = "block";
            document.getElementById("content").style.display = "none";
        }
    </script>
</head>
<body>
    <div id="loading">
        Carregando...<br/><br/>
        <div class="loader">
          <div class="circle"><img src="/static/white.png"></div>
          <div class="circle"><img src="/static/blue.png"></div>
          <div class="circle"><img src="/static/black.png"></div>
          <div class="circle"><img src="/static/red.png"></div>
          <div class="circle"><img src="/static/green.png"></div>
        </div>
    </div>
    <div id="content">
        Lastest set supported: Zendikar Rising<br/><br/>
        <form enctype=multipart/form-data action="results" method="POST">
            <textarea name="decklist" rows="30" cols="50" placeholder="//Example&#10;3 Lightning Bolt&#10;4 Grizzly Bears&#10;1 Counterspell"></textarea>
            <br/>
            <center><input class="button" type="submit" onclick="preloader()" value="SUBMIT"></center>
        </form>
    </div>
</body>
</html>